*{
  margin: 0;
  font-family:  Bahnschrift,sans-serif;
}
body{

  max-width: 100%;
  background-color: #111
}
#menü_gesamt{
  z-index: 1000;

  position: fixed;

  height: 75px;
  width: 100%;

  margin-right: 1px;

  background-color: rgba(128, 128, 128, 0.95);
}
#menü_gesamt:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

#menü_logo{
  position: fixed;

  margin-left: 3px;
}

#menü_tabelle{
  float: right;

  margin-top: 32px;
  margin-left: 75px;
}

.menü_tabellen_spalte{
  width: 175px;

  text-align: center;
}

.menü_tabellen_element{
  color: #4444FF;
  text-decoration: none;

  border-style: solid;
  border-radius: 5px;
  border-color: #444;

  padding: 5px;
}
.menü_tabellen_element:hover{
  color: #44FF44;
  background-color: #4444FF;
  border-color: #44FF44;
}



#seiteninhalt{
  z-index: 0;

  margin-left: 5%;

  padding-top: 75px;

  width: 90%;
}

h1{
  text-align: center;
  color: #dddddd
}

#temperatur_luft{
  margin-top: 100px;
  text-align: center;
  font-size: 200px;
  color: #4444FF
}
#luftfeuchtigkeit{
  text-align: center;
  font-size: 75px;
  color: #4444FF
}
#label_letzte_aktualisierung{
  margin-top: 50px;
  color: #4444FF;
  font-size: 35px;
}


#h24_tabelle{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%
}

.h24_tabelle_datum{
  color: #4444FF;
  font-size: 50px;
  border-bottom-style: solid;
  border-bottom-color: #44FF44;
  border-radius: 30px;

}
.h24_tabelle_werte{
  padding-top: 25px;
  padding-left: 10px;
  padding-bottom: 35px;
  color: #4444FF;
  font-size: 50px;
  border-top-style: solid;
  border-top-color: #44FF44;
  border-radius: 30px;
}
#Auswahlbild_Luft{
  width: 45%;
}
#Auswahlbild_Wasser{
  width: 45%;
  margin-left: 5%;
}

#Auswahlbild_Hühnerklappe{
  width: 45%;
}

.wasser_temperatur{
  color: #4444FF;
  font-size: 100px;
  text-align: center;
}

#Vergangene_Wassermessungen_Tabelle{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%
}

.Vergangene_Wassermessungen_Tabelle_Kopf{
  font-size: 35px;
  color: #4444FF;
  border-bottom-style: solid;
  border-radius: 20px;
  border-color: #44FF44;
  width: 25%;
}

.Vergangene_Wassermessungen_Tabelle_Spalte{
  font-size: 30px;
  color: #4444FF;
  padding: 20px;
  background: #112211;
  border-radius: 10px;
}
